TOKEN=YOUR BOTS TOKEN GOES HERE
TWITTER_API=YOUR TWITTER API GOES HERE
APP_ID=YOUR APPLICATION ID GOES HERE
ADMIN_ID=YOUR USER ID GOES HERE
CARBON_KEY=YOUR CARBON KEY GOES HERE, IF YOU DO NOT HAVE RUN, REMOVE THIS ENTIRELY
STATS_KEY=YOUR DISCORD BOTS API TOKEN GOES HERE (GET IT FROM BOTS.DISCORD.PW) IF YOU DO NOT HAVE ONE, REMOVE THIS ENTIRELY
