{
  "ecmaVersion": 6,
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
  },
  "ecmaFeatures": {
    "modules": true
  },
  "rules": {
    "no-console": 0,
    "no-control-regex": 0,
    "no-unused-vars": 1,
    "camelcase": 2,
    "dot-notation": 2,
    "comma-spacing": 2,
    "key-spacing": 2,
    "quotes": [1, "backtick"]
  },
  "globals": {
    "ServerSettings",
    "Times",
    "commandsProcessed"
  },
  "extends": "eslint:recommended"
}
